swagger: '2.0'
info:
  description: Servicio Rest para la aplicación Contable.
  version: 1.0.0
  title: Contable Rest API
  contact:
    email: rsantellan@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: estudiocontable.com.uy
basePath: /rest/api
tags:
  - name: login
    description: Autorización inicial
  - name: client
    description: Acceder a la información del cliente
  - name: report
    description: Acceder a la información de los reportes
  - name: news
    description: Noticias del sitio
schemes:
  - https
  - http
paths:
  /login:
    post:
      tags:
        - login
      summary: Get authorization token
      description: ''
      operationId: login
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Body
          description: Login de usuario
          required: true
          schema:
            $ref: '#/definitions/LoginRequest'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: Bad Request
  /:
    get:
      tags:
        - client
      summary: Retorna los datos basicos de los clientes asociados
      description: Devuelve los clientes asociados al usuario
      operationId: loggedInfo
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/LoggedClientResponse'
        '400':
          description: Bad Request
        '403':
          description: Permiso denegado
      security:
        - Bearer: []
  /report/month-data:
    post:
      tags:
        - report
      summary: Retorna los datos del mes requerido
      description: Devuelve los clientes asociados al usuario
      operationId: reportMonthData
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Body
          description: Mes de la consulta
          required: true
          schema:
            $ref: '#/definitions/MonthReportRequest'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/MonthReportResponse'
        '400':
          description: Bad Request
        '403':
          description: Permiso denegado
      security:
        - Bearer: []
  /report/current-account-data:
    post:
      tags:
        - report
      summary: Retorna los datos del mes para una cuenta
      description: Devuelve los datos de la cuenta
      operationId: reportCurrentAccount
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Body
          description: Mes, año y cliente a consultar
          required: true
          schema:
            $ref: '#/definitions/CurrentAccountReportRequest'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CurrentAccountResponse'
        '400':
          description: Bad Request
        '403':
          description: Permiso denegado
      security:
        - Bearer: []        
  /news/:
    get:
      tags:
        - news
      summary: Retorna las noticias del sitio
      description: Retorna las noticias del sitio
      operationId: newsData
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/NewsResponse'
        '400':
          description: Bad Request
        '403':
          description: Permiso denegado
      security:
        - Bearer: []
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
definitions:
  Client:
    type: object
    properties:
      id:
        type: integer
        format: int32
      carpeta:
        type: string
      razonsocial:
        type: string
  LoggedClientResponse:
    type: object
    properties:
      success:
        type: boolean
        default: false
      username:
        type: string
      clients:
        type: array
        items:
          $ref: '#/definitions/Client'
  LoginResponse:
    type: object
    properties:
      success:
        type: boolean
        default: false
      token:
        type: string
      error:
        type: string
  LoginRequest:
    type: object
    properties:
      _username:
        type: string
      _password:
        type: string
  MonthReportCalendarPaymentsTaxes:
    type: object
    properties:
      name:
        type: string
      amount:
        type: integer
        format: float
  MonthReportCalendarPayments:
    type: object
    properties:
      whopays:
        type: integer
        format: int32
      amountWithTaxes:
        type: integer
        format: float
      notes:
        type: string
      createdat:
        type: string
        format: date-time
      updatedat:
        type: string
        format: date-time
      paid:
        type: boolean
        default: false
      notconfirmed:
        type: boolean
        default: false
      notpayment:
        type: boolean
        default: false
      notified:
        type: boolean
        default: false
      reviewed:
        type: boolean
        default: false
      taxes:
        type: array
        items:
          $ref: '#/definitions/MonthReportCalendarPaymentsTaxes'
  MonthReportCalendar:
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      review:
        type: boolean
        default: false
      month:
        type: integer
        format: int32
      taxes:
        type: boolean
        default: false
      payments:
        type: array
        items:
          $ref: '#/definitions/MonthReportCalendarPayments'
  MonthReport:
    type: object
    properties:
      client:
        $ref: '#/definitions/Client'
      calendar:
        type: array
        items:
          $ref: '#/definitions/MonthReportCalendar'
  MonthReportResponse:
    type: object
    properties:
      success:
        type: boolean
        default: false
      data:
        $ref: '#/definitions/MonthReport'
  MonthReportRequest:
    type: object
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32
  CurrentAccountReportRequest:
    type: object
    properties:
      year:
        type: integer
        format: int32
      month:
        type: integer
        format: int32        
      folder:
        type: string
  CurrentAccountClientMovements:
    type: object
    properties:
      AcumuladoDolares:
        type: integer
        format: float
      AcumuladoPesos:
        type: integer
        format: float
      Cliente:
        type: string
      Documento:
        type: string
      FECHA:
        type: string
        format: date-time
      SaldoDolares:
        type: integer
        format: float
      SaldoPesos:
        type: integer
        format: float
      TipoCliente:
        type: string
      TipoDoc:
        type: string        
      UnidadNegocios:
        type: string
        
  CurrentAccountClientSaldoFinal:
    type: object
    properties:
      SaldoDolares:
        type: integer
        format: float
      SaldoPesos:
        type: integer
        format: float
  CurrentAccountClientSaldoInicial:
    type: object
    properties:
      SaldoDolares:
        type: integer
        format: float
      SaldoPesos:
        type: integer
        format: float
        
  CurrentAccountClientAccountType:
    type: object
    properties:
      tipo:
        type: string
      Movimientos:
        type: array
        additionalProperties:
          type: string
        items:
          $ref: '#/definitions/CurrentAccountClientMovements'
      SaldoFinal:
        $ref: '#/definitions/CurrentAccountClientSaldoFinal'
      SaldoInicial:
        $ref: '#/definitions/CurrentAccountClientSaldoInicial'
        
  CurrentAccountClientAccountSubtotal:
    type: object
    properties:
      SaldoDolares:
        type: integer
        format: float
      SaldoPesos:
        type: integer
        format: float

  CurrentAccountClientAccountTotal:
    type: object
    properties:
      SaldoDolares:
        type: integer
        format: float
      SaldoPesos:
        type: integer
        format: float
        
  CurrentAccountClientAccount:
    type: object
    properties:
      cliente:
        type: string
      cuentas:
        type: array
        items:
          $ref: '#/definitions/CurrentAccountClientAccountType'
      SubtotalCliente:
        $ref: '#/definitions/CurrentAccountClientAccountSubtotal'
  
  CurrentAccountClient:
    type: object
    properties:
      Clientes:
        type: array
        items:
          $ref: '#/definitions/CurrentAccountClientAccount'
      Grupo:
        type: string
      TotalGrupo:
        $ref: '#/definitions/CurrentAccountClientAccountTotal'
  
  CurrentAccountResponse:
    type: object
    properties:
      success:
        type: boolean
        default: false
      data:
        $ref: '#/definitions/CurrentAccountClient'
        
  News:
    type: object
    properties:
      id:
        type: integer
        default: int32
      title:
        type: string
      content:
        type: string
      author:
        type: string        
        
  NewsResponse:
    type: object
    properties:
      success:
        type: boolean
        default: false
      news:
        type: array
        items:
          $ref: '#/definitions/News'        